/*------------------------------------------------------------------------*/


/* DEFAULT ENCODING */

@charset "UTF-8";

/* IMPORTS */

@import url("../fonts/font-awesome/css/fontawesome-all.min.css");

/*------------------------------------------------------------------------*/


/* ICONS SUBTITLE */


/*

WordPress Development
   wordpress
Website Development
   code
Content Writing
   pencil-alt
SEO
   chart-line
Website Maintenance
   server
Domain Register
   globe

*/


/* FONTS */

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}


/* COLORS */

:root {
    --purple: #1B022A;
    --white: #FFFFFF;
    --black: #000000;
    --snow: #CDCDCD;
    --blue: #00ACCD;
    --softwhite: #F4F4F4;
    --softpurple: rgba(27, 2, 42, .1);
    --softblack: rgba(0, 0, 0, 0.6);
}


/* SIMPLE CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------------------------------------------------------------*/


/* BODY */

body {
    font: 1rem/1.5 'Open Sans', Helvetica, arial, sans-serif;
    color: var(--purple);
}


/*------------------------------------------------------------------------*/


/* BEGIN:STYLES */

.btn {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--purple);
    border-radius: 3px;
    background: var(--white);
    color: var(--purple);
    transition: background-color 200ms, color 200ms;
}

.btn:hover {
    background: var(--purple);
    color: var(--white);
}


/* END:STYLES */


/*------------------------------------------------------------------------*/


/* BEGIN:SUPPORT */

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.clear-fix:after {
    display: block;
    content: "";
    clear: both;
}

.left {
    float: left;
    margin: 0 10px 5px 0;
}

.right {
    float: right;
    margin: 0 0 5px 10px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-justify {
    text-align: justify;
}

.white-text {
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem
}

article > section {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--snow);
}

article > section:nth-child(even) {
    background: var(--softwhite);
}


/* END:SUPPORT */


/*------------------------------------------------------------------------*/


/* BEGIN:HEADER */

header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

header::before {
    width: 100%;
    height: 500px;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: var(--softblack);
    content: "";
    display: block;
}


/* END:HEADER */


/*------------------------------------------------------------------------*/


/* BEGIN:JUMBOTRON */

.jumbotron {
    text-align: center;
    color: var(--white);
    z-index: 2;
    position: relative;
    top: 200px;
}

.jumbotron-heading {
    font: 3rem/1.5 'Open Sans Bold', Helvetica, arial, sans-serif;
    margin: 0;
}

.jumbotron-text {
    font: 2rem/1.5 'Open Sans', Helvetica, arial, sans-serif;
    margin: 0;
}


/* END:JUMBOTRON */


/*------------------------------------------------------------------------*/


/* BEGIN:NAVBAR */


.container-nav {
    margin: 0 10rem;
}


.navbar {
    color: var(--white);
    z-index: 10;
    transition: all 300ms ease-in-out;
    line-height: 60px;
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
}

.fixed-top {
    padding: 15px 0;
    top: 0px;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.navbar.fixed-top.scrolling {
    background: var(--purple);
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 40px;
    min-height: 40px;
}

.navbar.fixed-top.scrolling ul li a {
    padding: 8px 15px;
    font-size: .9rem;
}

.navbar.fixed-top.scrolling .brand-logo img {
    height: 45px;
    margin-top: 5px;
}

.navbar .brand-logo img {
    height: 60px;
    transition: all 300ms ease-in-out;
    float: left;
}

.navbar ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}

.navbar ul li {
    float: left;
    padding: 0;
}

.navbar ul li a {
    font-size: 1em;
    display: block;
    color: var(--white);
    text-transform: uppercase;
    padding: 0 15px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.navbar ul li a:hover {
    color: var(--blue);
}


/* END:NAVBAR */


/*------------------------------------------------------------------------*/


/* BEGIN:FOOTER */

footer {
    background-color: var(--purple);
    color: var(--white);
    min-height: 6.5625rem;
    padding: 0.9375rem 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.logo {
    float: left;
}

.logo img {
    width: 125px;
    display: block;
}

.copyright {
    padding: 1.6rem 0;
    text-align: center;
    display: inline-block;
}

.w3c-banner {
    float: right;
    max-height: 4.6875rem;
    line-height: 1;
}

.w3c-banner a {
    color: var(--white);
    text-decoration: none;
}

.w3c-banner a img {
    display: block;
    margin: auto;
    width: 3.6875rem;
    padding: .25rem .5rem .5rem;
}


/* END:FOOTER */


/*------------------------------------------------------------------------*/