.recent-projects .project img {
    width: 250px;
    height: 250px;
}

.recent-projects .project {
    display: inline-block;
    margin: 28px;
}

.card {
    width: 24%;
    margin: .5%;
    float: left;
}

.card .card-header {
    position: relative;
    width: 100%;
    padding-bottom: 10%;
}

.card .card-header .card-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card .card-header .card-info {
    margin-top: 4%;
}

.card .card-header .card-info p {
    padding-left: .5rem;
    font-size: .8rem;
}

.card .card-header .card-info p b {
    font-size: 0.9rem;
}

.card .card-comment {
    height: 35rem;
    border: 1px solid black;
    width: 100%;
    padding: 1rem;
    word-wrap: break-word;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.40);
    border: none;
}

.card .card-comment:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.70);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.70);
}